<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eeshop">
<!--    <uses-permission android:name="android.permission.INTERNET"></uses-permission>-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.iOptical.contactUs"></activity>
        <activity android:name="com.example.iOptical.successPay" />
        <activity android:name="com.example.iOptical.checkout" />
        <activity
            android:name="com.example.iOptical.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.iOptical.SignUp" />
        <activity android:name="com.example.iOptical.SignIn" />
        <activity android:name="com.example.iOptical.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.iOptical.MainActivity"/>

<!--        <meta-data android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyDEZ7VrIBRfjX5e-z72VXMLgy9u3YL3Yqg"></meta-data>-->
    </application>

</manifest>